<ion-nav-view>
    <ion-view>
        <ion-pane>
            <ion-content class="" ng-controller="ProfileCtrl">
                <ion-list>
                    <ion-item class="item-thumbnail-left item-text-wrap" ng-repeat="chugger in currentChugger">
                        <img src="http://placehold.it/100x100" alt="photo">
                        <h2>{{ chugger.chugger_name }}</h2>
                        <h3>{{ chugger.first_name + " " + chugger.last_name }}</h3>
                    </ion-item>
                </ion-list>
            </ion-content>

        </ion-pane>
    </ion-view>
</ion-nav-view>
